
<div class="wrapper">
  <h2>Listing Users</h2>
  <%= link_to admin_users_new_path, class: 'btn btn-primary pull-right' do %>
    <span class="fa fa-user-plus"> Invite User </span>
  <% end %>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th> Email </th>
      <th> Name </th>
      <th class="actions"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |_user, _i| %>
      <tr>
        <td><%=_user.email%></td>
        <td><%=_user.full_name%></td>
        <td>
          <%= link_to admin_users_edit_path(_user.username), class: 'btn btn-sm btn-warning' do %>
            Edit
          <% end %>
          <%= button_to admin_users_remove_path(_user.username), class: 'btn btn-sm btn-danger', method: 'delete' do %>
            Remove
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
